<div class="align-items-center pt-3 pb-2 mb-3">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/event-types">会议类型</a></li>
        <li class="breadcrumb-item"><a href="">添加</a></li>
        <li class="breadcrumb-item active" aria-current="page">添加会议类型</li>
    </ol>
    </nav>
</div>

<div id="mainCard" class="card col-sm-6" style="margin: 0 auto" >
  <span data-feather="type" style="width: 150px; height: 150px; margin:10px auto"></span>
  <div class="card-body">
    <p class="card-text">
    <form id="frmAdd" action="javascript:submitform()">
        <div class="form-group">
            <label for="formGroupExampleInput">会议类型名</label>
            <input type="text" class="form-control" name="name" value="" required>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">描述</label>
            <input type="text" class="form-control" name="description" value="No Description" required>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">标记颜色</label>
            <select class="form-control" name="color" required>
                <option value="event-1">Blue</option>
                <option value="event-2">Purple</option>
                <option value="event-3">Green</option>
                <option value="event-4">Yellow</option>
                <option value="event-5">Red</option>
                <option value="event-6">Pink</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
    </p>
  </div>
</div>

<script>
function submitform()
{
    var frm = $('#frmAdd');
    var card = $('#mainCard');
    var formData = serializeObject(frm);

    showLoader();
    $.post('/event-types/add',formData,
    function(data)
    {
        if(data.success === true)
        {
            window.location = '/event-types';
            return;
        }

        hideLoader();
        alert(data.message);
    },'JSON').fail(function(ex)
    {
        hideLoader();
        console.error(ex);
        alert('服务器上发生错误，请稍后重试。')
    });
}
</script>
